@model KeepSaving.Models.Household
@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-md-5 content">
        <h3>Accounts</h3>
        @foreach(var account in Model.Accounts)
        {
            if (account.IsArchived == false)
            {
            <h4>@Html.ActionLink(account.Name, "Details", "Transactions", new { controller = "Transactions", action = "Details", id = account.Id}, new { id = account.Id })</h4>
            <h4>$@account.Balance</h4>
            <hr />
            }
        }
    </div>

    <div class="col-md-7" id="transactionsByMonth">

    </div>
</div>
<div class="row">
    <div class="col-md-12" id="budgetsVsTransactions">


    </div>

</div>