@model KeepSaving.Models.Household
@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-md-4 content">
        <h3>Accounts</h3>
        @foreach(var account in Model.Accounts)
        {
            if (account.IsArchived == false)
            {
            <h4>@Html.ActionLink(account.Name, "Details", "Transactions", new { controller = "Transactions", action = "Details", id = account.Id}, new { id = account.Id })</h4>
            <h4>$@account.Balance</h4>
            <hr />
            }
        }
    </div>

    <div class="col-md-8" id="transactionsByMonth">

    </div>
</div>
<div class="row">
    <div class="col-md-12" id="budgetsVsTransactions">


    </div>

</div>

@section Scripts {
    <script type="text/javascript" language="javascript" src="~/Scripts/canvasjs.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#transactionsByMonth').load('@Url.Action("_TransactionsByMonth", "Home", new { month = 6, year = 2016 })');
                //function (response) {
                //    new CanvasJS.Chart("pieGraph", {
                //        data: [
                //        {
                //            // Change type to "doughnut", "line", "splineArea", etc.
                //            type: "pie",
                //            dataPoints: response
                //        }
                //        ]
                //    });
        });
    </script>
    <script src="~/Scripts/LoadPartials.js"></script>
}